<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics }}');
</script>
<!-- Cookie Consent by https://www.cookiewow.com -->
<script type="text/javascript" src="https://cookiecdn.com/cwc.js"></script>
<script
  id="cookieWow"
  type="text/javascript"
  src="https://cookiecdn.com/configs/BXs1CPKgPP1Y6dKxRyVf3uRs"
  data-cwcid="BXs1CPKgPP1Y6dKxRyVf3uRs"
></script>
