<div class="container max-width mt-4 mt-lg-5 p-2 p-md-2">
  <h1 class="col-12 text-center red">บรรยากาศในสาขาบางบัวทอง</h1>
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 text-center mt-2 mb-4 mb-lg-5">
      ความภูมิใจของเรา คือตอนที่เราถามน้องว่า "อยากมาเรียนอีกมั๊ย"
      แล้วน้องตอบว่า "มาพรุ่งนี้ได้เลยหรือเปล่า" 🥰
    </div>
  </div>
  <div
    class="row"
    data-masonry='{"percentPosition": true }'
    style="position: relative; height: 690px"
  >
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        <img
          src="/assets/image/environment/A.png"
          class="card-img-top image-4-3"
          role="img"
          aria-label="Teacher play with the students"
        />
        <div class="card-body">
          <p class="card-text">
            สอนเด็กๆ
            ให้รักการเรียนรู้ผ่านกิจกรรมและช่วยเพิ่มปฏิสัมพันธ์กับครูต่างชาติ
            ทำให้จดจำบทสนทนาได้ง่ายขึ้น
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        <img
          src="/assets/image/environment/B.png"
          class="card-img image-1-1"
          role="img"
          aria-label="Teacher play with the students"
        />
      </div>
    </div>

    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        <img
          src="/assets/image/environment/C.png"
          class="card-img image-4-3"
          role="img"
          aria-label="Teacher play with the students"
        />
      </div>
    </div>

    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        <img
          src="/assets/image/environment/D.png"
          class="card-img-top image-9-16"
          role="img"
          aria-label="Teacher play with the students"
        />
        <div class="card-body">
          <p class="card-text">
            เราไม่เน้นเล่น แต่นักเรียนก็ต้องเรียนอย่างมีความสุข<br />
            เราไม่เน้นกวดวิชา แต่วิชาการก็ต้องได้ด้วย
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card p-2 bg-green text-white text-center">
        <figure class="p-3 mb-0">
          <blockquote class="blockquote">
            <p>
              การศึกษาควรมุ่งไปที่การฝึกทักษะการเรียนรู้
              ไม่ใช่เพียงการสั่งสมความรู้เท่านั้น
            </p>
          </blockquote>
          <figcaption class="blockquote-footer mb-0 text-muted">
            คริสติน ชีด<cite title="Source Title">นักประสาทวิทยา</cite>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        <img
          src="/assets/image/environment/F.png"
          class="card-img image-9-16"
          role="img"
          aria-label="Teacher play with the students"
        />
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        <img
          src="/assets/image/environment/E.png"
          class="card-img image-9-16"
          role="img"
          aria-label="Teacher play with the students"
        />
      </div>
    </div>
  </div>
</div>
