<footer
  class="container max-width pt-4 px-md-5 mt-md-5 pt-md-5 border-top rounded-lg-top-4 bg-red pb-4 rounded-lg-top-4"
>
  <div class="row">
    <div class="col-12 col-md-7 col-lg-8">
      <p role="heading" aria-level="2">สนใจคอร์สเรียน</p>
      <ul class="d-flex flex-column gap-2 list-unstyled">
        <li class="fs-3">
          <a class="link-light text-decoration-none" href="tel: {{site.phone}}">
            <i class="bi bi-phone-fill"></i>
            {{site.phone_short}}
          </a>
        </li>
        <li class="">
          <a
            class="d-flex link-light text-decoration-none align-items-center gap-2"
            href="{{site.facebook.publisher}}"
          >
            <i class="bi bi-facebook fs-3"></i>
            fb.com/englishcorner.bangbuathong
          </a>
        </li>
        <li class="">
          <a
            class="d-flex link-light text-decoration-none align-items-center gap-2"
            href="{{site.line}}"
          >
            <i class="bi bi-line fs-3"></i>
            @englishcorner.bbt
          </a>
        </li>
      </ul>
    </div>
    <div class="col-12 py-4 pt-md-0 col-md-5 col-lg-4">
      <p role="heading" aria-level="2">ที่อยู่</p>
      <p class="mb-2">
        <p>English Corner สาขาบางบัวทอง,</p>
        ชั้น 2, แจส กรีน วิลเลจ, ซอยวัดลาดปลาดุก, ตำบล พิมลราช, อำเภอ บางบัวทอง,
        จังหวัด นนทบุรี
      </p>
      <p>11110</p>
    </div>
  </div>
</footer>
