<div class="container max-width">
  <div
    class="row justify-content-md-between rounded-lg-bottom-4 py-2 shadow-md-sm"
  >
    <div
      class="col-md-auto d-flex align-items-center justify-content-center justify-content-md-start gap-3"
    >
      <img
        src="/assets/image/logo_c3.png"
        height="64px"
        ="English corner Website"
      />
      <div class="d-none d-md-block fw-bold green">บางบัวทอง</div>
    </div>
    <div
      class="col-md-auto d-flex flex-sm-row flex-column align-items-center gap-2 gap-md-3 pt-2 pt-md-0 justify-content-center"
    >
      <div class="d-flex align-items-center gap-3 order-md-1">
        <a href="#" class="nav-link fs-3 fw-bold red"> 083-236-0009 </a>
        <a href="#" class="nav-link fs-4 facebook-color">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="#" class="nav-link fs-4 line-color">
          <i class="bi bi-line"></i>
        </a>
      </div>
      <div class="d-flex align-items-center gap-3">
        <a href="#" class="nav-link green">
          <i class="bi bi-journal-richtext"></i>
          หลักสูตร
        </a>
        <a href="#" class="nav-link green">
          <i class="bi bi-headset"></i>
          ติดต่อเรา
        </a>
      </div>
    </div>
  </div>
</div>
