<div
  class="container max-width mb-5 mt-lg-2 py-2 px-3 px-md-4"
  style="width: 100%"
>
  <h3 class="text-center red my-4">ความเห็นจากผู้ปกครอง</h3>
  <div class="d-flex flex-row flex-wrap gap-3 justify-content-center">
    {% for item in site.data.testimonial %}
    <div
      class="testimonial flex-fill d-flex flex-row justify-content-center px-4 py-4 rounded-2 gap-3 gap-md-4"
    >
      <img
        src="/assets/image/testimonial/{{ item.image }}"
        width="100px"
        height="100px"
        alt="testimonial"
      />
      <div class="d-flex flex-column">
        <p class="py-1 my-0 text-start fst-italic">"{{ item.description }}"</p>
        <p class="py-1 my-0 text-start fst-italic black">- {{ item.name }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
