.wraper {
  min-height: 100vh;
}

.blog-card {
  width: 100%;
}

.blog-content {
  img {
    max-width: 100%;
  }
}

.line {
  border-bottom: 1px solid #eeeeee;
}

@media (min-width: 768px) {
  .blog-card {
    width: 600px;
  }
}

@media (min-width: 922px) {
  .blog-card {
    width: 600px;
  }
}
