.wraper {
  min-height: 100vh;
}

.blog-card {
  width: 100%;
}

.blog-content {
  img {
    max-width: 100%;
  }
  p {
    font-size: 1.2rem;
    line-height: 160%;
  }
  .max-width-blog {
  }
}

.line {
  border-bottom: 1px solid #eeeeee;
}

@media (min-width: 768px) {
  .blog-card {
    width: 600px;
  }
}

@media (min-width: 922px) {
  .blog-card {
    width: 600px;
  }
}
