.wraper {
  min-height: 100vh;
}

.blog-card {
  width: 100%;
}

.blog-content {
  img {
    max-width: 100%;
  }
  p {
    font-size: 1.2rem;
    line-height: 160%;
    margin-bottom: 1.5rem;
  }
  b,
  strong {
    color: oklch(66.31% 0.218 37.73); // $red-text;
  }

  blockquote {
    padding-left: 1.5rem;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
    font-style: italic;
    font-size: 1.25rem;
    border-left: 4px solid #eeeeee;
  }
  .max-width-blog {
  }
  .blog-text {
    max-width: 700px;
  }
}

.line {
  border-bottom: 1px solid #eeeeee;
}

@media (min-width: 768px) {
  .blog-card {
    width: 600px;
  }
}

@media (min-width: 922px) {
  .blog-card {
    width: 600px;
  }
}
