// Brand Colors
$green-text: #01795b;
$green-bg: #02ac81;

$orange: oklch(73.19% 0.18580321563064012 52.98467959397129);
$orange-dark: oklch(50% 0.18580321563064012 52.98467959397129);
$yellow: #ffdc5e;
$black: #242424;
$white: #ffffff;
$red: oklch(66.31% 0.218 37.73);
$red-dark: oklch(50% 0.218 37.73);
