// Brand Colors
$green-text: #01795b;
$green-bg: #02ac81;

$orange: oklch(73.19% 0.18580321563064012 52.98467959397129);
$orange-dark: oklch(50% 0.18580321563064012 52.98467959397129);
$yellow: #ffdc5e;
$black: #0b0b0b;
$white: #ffffff;
$red: oklch(66.31% 0.218 37.73);
$red-dark: oklch(50% 0.218 37.73);

.green {
  color: $green-text;
}

.orange {
  color: $orange;
}

.red {
  color: $red;
}

.yellow {
  color: $yellow;
}

.white {
  color: #ffffff;
}

.black {
  color: $black;
}

.facebook-color {
  color: #376df9;
}

.line-color {
  color: #389c28;
}

.bg-yellow {
  background-color: $yellow;
  color: $black;
}

.bg-green {
  background-color: $green-bg;
  color: $white;
}

.bg-red {
  background-color: $red;
  color: $white;
}
