@import 'color';

@keyframes rotate {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

.card {
  animation: rotate ease-in;
  animation-timeline: view();
  animation-range: entry 10% cover 40%;
}

.image-4-3 {
  width: 100%;
  aspect-ratio: 4 / 3;
}

.image-1-1 {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.image-9-16 {
  width: 100%;
  aspect-ratio: 9 / 16;
}
