---
---

// Icon Font

$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$base-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);

@import 'icon-font';
@import 'color';

@import 'course';
@import 'footer';
@import 'environment';
@import 'blog';

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

a,
.nav-link,
.link-dark {
  text-decoration: none;

  &:hover {
    color: #0d6efd;
    .material-icons {
      color: #0d6efd;
    }
  }
}

.clickable {
  cursor: pointer;
}

.banner-bg {
  background-color: #118f83;
  background-size: cover;
  background-position: bottom center;
}

.small-hr {
  width: 64px;
  height: 4px;
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: $orange;
}

// Utilities

.max-width {
  max-width: 960px;
}

.strong-shadow {
  box-shadow: 0px 6px 0px #d6a800;
}

.strong-shadow-red {
  box-shadow: 0px 6px 0px $red-dark;
}

.mt-180 {
  margin-top: 180px;
}

.banner-sm-fg {
  background-image: url('/assets/image/banner_sm_fg.png');
  background-size: cover;
  height: 280px;
}

@media (min-width: 768px) {
  .banner-sm-fg {
    background: none;
    height: 170px;
  }
  .banner-bg {
    background-image: url('/assets/image/banner_md.png');
    background-position: top center;
  }
  .yellow-button {
    width: fit-content;
    margin-top: 20px;
  }
  .banner-description {
    font-size: 1.3rem;
    line-height: 1.5;
  }
}

@media (min-width: 992px) {
  .banner-sm-fg {
    height: 170px;
  }
  .rounded-lg-4 {
    border-radius: 1rem !important; /* 1.5rem = 24px (rounded-4) */
  }

  .rounded-lg-bottom-4 {
    border-bottom-left-radius: 1rem !important; /* 1.5rem = 24px (rounded-4) */
    border-bottom-right-radius: 1rem !important;
  }

  .shadow-md-sm {
    box-shadow: var(--bs-box-shadow) !important;
  }
}
